# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../../:\Users\madiy\Desktop\Machine Learning\Data Science\Deep Learning\NLP\SDU\assignment-05-truebeliever17\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
